html, body {font-family:Sans-serif; font-size:18px; line-height:1.25; margin:0px; padding:0px}
html {padding:1ex; background:#000; color:#FFF; cursor:default}
:not(canvas) {box-sizing:border-box}

#divMessage {display:flex; font-size:500%; position:fixed; left:0px; top:0px; width:100%; height:100%; background:#000; transition:opacity 1s ease 0s; z-index:3}
#divMessage .text {width:100%; margin:auto; padding:.5ex 0ex; background:#FFF3; text-align:center}
#divMessage.hide {opacity:0}

#divPlayfield {position:relative; overflow:hidden}
span.card {font-size:300%; position:fixed; transition:opacity 500ms ease 0s; z-index:-1}

.hud {display:flex; pointer-events:none; z-index:2}
.hud > div {flex:1}
#divLives {text-align:right}
