@keyframes blink {
	from {opacity:1}
	to {opacity:0.25}
}

html, body {font-family:Sans-serif; font-size:5vmin; line-height:1.25; margin:0px; padding:0px}
html {padding:1ex; background:#000; color:#FFF; cursor:default}
:not(canvas) {box-sizing:border-box}

button {font:inherit; font-size:50%; color:CurrentColor; background:#302; padding:.2ex 1ex; border:2px solid; border-radius:.5ex}
button:hover {background:#413}

.cover {display:flex; font-size:250%; position:fixed; left:0px; top:0px; width:100%; height:100%; background:#000; transition:opacity 1s ease 0s; z-index:3}
.text {width:100%; margin:auto; padding:.5ex 0ex; background:#FFF3; text-align:center; text-shadow:0px 0px 2px #000}

#divSetup {transition-duration:.5s}
#divIcon {font-size:80%}

#divMessage {opacity:1; transition-duration:.5s}
#divPlayfield {position:fixed; left:0px; top:0px; width:100%; height:100%; overflow:hidden; z-index:-1}
span.card {font-size:300%; position:absolute; transition:opacity 500ms ease 0s}

.hud {display:flex; position:absolute; left:0px; top:0px; width:100%; padding:.5ex 1ex; pointer-events:none}
.hud > div {flex:1}
#divLives {text-align:right}

.hide {opacity:0 !important; transition-duration:1s}
.text.interactive {cursor:pointer}
.text.interactive:after {content:"⚞Click⚟ to play again"; display:block}
.text.interactive:after, .fullscreen-message {font-size:25%; animation:blink 1s steps(2) 0s infinite}

.fullscreen-message:before {content:"Right click "}
#divWinText > div {font-size:50%}

@media screen and (hover:none) {
	.text.interactive:after {content:"⚞Tap⚟ to play again"}
	.fullscreen-message:before {content:"Long press "}
}